<template>
    <div class="mb-4">
        <div class="mt-4 mb-0 text-center" v-if="formLoadData">
            <line-chart :chart-data="chartData" :height="250"></line-chart>
        </div>
        <div class="mt-4 mb-0 text-center" v-else>
            <div
                class="spinner-border text-success mx-auto d-flex"
                role="status"
            >
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import LineChart from "../charts/LineChart.js";

export default {
    name: "Chart",
    components: {
        LineChart
    },
    computed: {
        ...mapGetters(["formResponse", "formLoadData"]),
        chartData: function() {
            if (Object.entries(this.formResponse).length === 0) {
                return {};
            }
            let dates = [];
            let open = [];
            let close = [];
            this.formResponse.forEach(data => {
                dates.push(data.data.attributes.date);
                open.push(data.data.attributes.open);
                close.push(data.data.attributes.close);
            });
            return {
                labels: dates.reverse(),
                datasets: [
                    {
                        label: "Open",
                        borderColor: "#000000",
                        backgroundColor: "rgba(0, 0, 0, 0.2)",
                        data: open.reverse()
                    },
                    {
                        label: "Close",
                        borderColor: "#28a745",
                        backgroundColor: "rgba(40, 167, 69, 0.2)",
                        data: close.reverse()
                    }
                ]
            };
        }
    }
};
</script>

<style></style>
