<template>
  <div
    class="mt-4 mb-0 text-center"
    v-if="!(Object.keys(selectedCompany).length === 0)"
  >
    <h1 class="m-0">
      {{ selectedCompany.attributes.name }}
    </h1>
  </div>
  <div class="mt-4 mb-0 text-center" v-else>
    <div class="spinner-border text-success mx-auto d-flex" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "CompanyTitle",
  computed: {
    ...mapGetters(["selectedCompany"]),
  },
};
</script>

<style></style>
