<template>
    <div class="py-5">
        <div v-if="formLoadData">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Open</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">Volume</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, index) in formResponse" :key="index">
                        <th scope="row">{{ row.data.attributes.date }}</th>
                        <td>{{ row.data.attributes.open }}</td>
                        <td>{{ row.data.attributes.high }}</td>
                        <td>{{ row.data.attributes.low }}</td>
                        <td>{{ row.data.attributes.close }}</td>
                        <td>{{ row.data.attributes.volume }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else>
            <div
                class="spinner-border text-success mx-auto d-flex"
                role="status"
            >
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: "Table",
    computed: {
        ...mapGetters(["formResponse", "formLoadData"])
    }
};
</script>

<style></style>
