<template>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="startDate">Start Date</label>
            <input
                type="text"
                class="form-control bg-white"
                id="startDate"
                name="startDate"
                autocomplete="off"
                readonly="readonly"
            />
        </div>
        <div class="form-group col-md-6">
            <label for="endDate">End Date</label>
            <input
                type="text"
                class="form-control bg-white"
                id="endDate"
                name="endDate"
                autocomplete="off"
                readonly="readonly"
            />
        </div>
    </div>
</template>

<script>
import $ from "jquery";
import "jquery-ui/ui/widgets/datepicker";

export default {
    name: "Dates",
    methods: {
        getDate: function(element, dateFormat) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element[0].value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    },
    mounted() {
        const dateFormat = "yy-mm-dd";
        const startDate = $("#startDate")
            .datepicker({
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "0",
                dateFormat: dateFormat
            })
            .datepicker("setDate", new Date())
            .on("change", () => {
                endDate.datepicker(
                    "option",
                    "minDate",
                    this.getDate($("#startDate"), dateFormat)
                );
            });
        const endDate = $("#endDate")
            .datepicker({
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "0",
                dateFormat: dateFormat
            })
            .datepicker("setDate", new Date())
            .on("change", () => {
                startDate.datepicker(
                    "option",
                    "maxDate",
                    this.getDate($("#endDate"), dateFormat)
                );
            });
    }
};
</script>
<style></style>
