<template>
    <select
        :id="id"
        class="form-control selectpicker bg-white border"
        data-style="bg-white"
        data-live-search="true"
        :name="name"
        required
    >
        <option selected disabled value="">Choose...</option>
        <option
            v-for="(option, index) in options"
            :key="index"
            :value="option.data.id"
        >
            {{ option.data.attributes.name }} - ({{ option.data.id }})
        </option>
    </select>
</template>

<script>
import $ from "jquery";
import selectpicker from "bootstrap-select";

export default {
    name: "Dropdown",
    props: {
        options: Array,
        id: String,
        name: String
    },
    mounted() {
        $(".selectpicker").selectpicker();
    }
};
</script>

<style></style>
