<template>
    <div class="container">
        <div v-if="!formSubmitted">
            <form-component></form-component>
        </div>
        <div v-else>
            <company-title></company-title>
            <table-component></table-component>
            <chart></chart>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

import Form from "./Form.vue";
import Table from "./history-data/Table.vue";
import CompanyTitle from "./history-data/CompanyTitle.vue";
import Chart from "./history-data/Chart.vue";

export default {
    name: "App",
    components: {
        FormComponent: Form,
        TableComponent: Table,
        CompanyTitle: CompanyTitle,
        Chart
    },
    computed: {
        ...mapGetters(["formSubmitted"])
    }
};
</script>

<style></style>
