<template>
  <div class="py-5">
    <div v-if="loadCompanyData">
      <form @submit="checkForm">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputState">Company Symbol</label>
            <company-dropdown
              :options="this.companies"
              id="company"
              name="company"
            ></company-dropdown>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
        </div>
        <dates></dates>
        <div class="text-right">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div v-else>
      <div class="spinner-border text-success mx-auto d-flex" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import CompanyDropdown from "./form/Dropdown.vue";
import Dates from "./form/Dates.vue";

export default {
  name: "Form",
  components: {
    CompanyDropdown,
    Dates,
  },
  methods: {
    ...mapActions({
      fetchCompanies: "fetchCompanies",
      setSelectedCompany: "setSelectedCompany",
      submitForm: "submitForm",
    }),
    checkForm: function (e) {
      e.preventDefault();
      this.submitForm($("form").serialize());
      this.setSelectedCompany({
        value: $("select#company").val().trim(),
        name: $("select#company option:selected").text().trim(),
      });
      return false;
    },
  },
  computed: {
    ...mapGetters(["companies", "loadCompanyData"]),
  },
  created() {
    this.fetchCompanies();
  },
};
</script>

<style></style>
